<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <link rel="stylesheet" href="__ADMIN__/static/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="__ADMIN__/static/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/style/common.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/css/paging.css"/>
</head>
<body>
<div class="search-block" style="float: right;padding-top: 40px;">
    <form class="layui-form" action="{:url('News/index')}" method="post">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-block">
                    <input type="text" name="title" placeholder="请输入作者" id="title" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-sm" id="search_btn">立即搜索</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="layui-tab-content" style="background-color: rgba(255,255,255,1);margin-top: 5px;">
    <div class="layui-tab-item layui-show">
        <div class="layui-btn-group demoTable" style="float: left;padding-top: 40px;">
            <a href="javascript:;" id="btn" class="layui-btn layui-btn-radius"><i class="fa fa-edit"></i> 新 增</a>
        </div>
        <span class="layui-clear"></span>
        <table class="layui-hide" id="table_list" lay-filter="lists"></table>
    </div>
</div>
<table class="layui-table">
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>作者</th>
        <th>分类</th>
        <th>简介</th>
        <th>封面图</th>
        <th>浏览量</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
    {volist name="datas" id="data"}
    <tr>
        <td>{$data.id}</td>
        <td>{$data.title}</td>
        <td>{$data.author}</td>
        <td>{$data.news_name}</td>
        <td>{$data.description}</td>
        <td><img src="{$data.icon}" style="width: 50px;"/></td>
        <td>{$data.views}</td>
        <td>{$data.create_time}</td>
        <td>{$data.update_time}</td>
        <td>
            <a href="javascript:;" class="layui-btn newsEdit layui-btn-radius" data-icon="{$data.icon}"
               data-news_class_id="{$data.news_class_id}" data-author="{$data.author}"
               data-description="{$data.description}" data-content="{$data.content}" data-title="{$data.title}"
               news_id="{$data.id}"><i
                    class="fa fa-edit"></i> 编 辑</a>
            <a href="javascript:;" onclick="newsDelete(this)" class="layui-btn layui-btn-radius layui-btn-danger"
               id="{$data.id}"><i
                    class="fa fa-trash-o"></i> 删 除</a>
        </td>
    </tr>
    {/volist}
</table>
<div class="page">
    {$page|raw}
</div>
</body>
</html>


<div id="doc" style="display: none;">
    <form class="layui-form" method="post" enctype="multipart/form-data" style="margin: 5%">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" id="name" placeholder="请输入标题"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-inline">
                <input type="text" name="author" id="author" required lay-verify="required" placeholder="请输入作者"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-block">
                <select name="news_class_id" id="news_class_id" lay-verify="required">
                    <option value="0">请选择分类</option>
                    {volist name = "fens" id="fen"}
                    <option value="{$fen.id}">{$fen.news_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <input type="hidden" name="newsId" id="newsId" value="">
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <input type="hidden" id="icon" name="icon">
            <div class="layui-upload-list" style="margin-left: 120px;margin-top: 50px;margin-bottom: 40px;">
                <img class="layui-upload-img" style="width: 100px;" src="" id="demo1">
                <p id="demoText"></p>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">简介</label>
            <div class="layui-input-block">
                <textarea name="description" id="description" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">内容</label>
            <script id="content" name="content" type="text/plain"></script>
            <script type="text/javascript" src="__ADMIN__/static/ueditor/1.4.3/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script type="text/javascript" src="__ADMIN__/static/ueditor/1.4.3/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('content');
            </script>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="adddd">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="__ADMIN__/static/layui/layui.js"></script>
<script src="__ADMIN__/static/layui/jquery-3.2.1.min.js"></script>
<script src="__ADMIN__/static/layui/layui.all.js"></script>
<script src="__ADMIN__/static/layer/layer.js"></script>
<script>
    var btn = document.getElementById("btn");
    btn.onclick = function () {
        $("#name").val(null);
        $("#author").val(null);
        $("#news_class_id").val(null);
        $("#description").val(null);
        $("#content").val(null);
        $("#demo1").val(null);
        layer.open({
            type: 1,
            shade: false,
            maxmin: true,
            title: "新闻的添加", //标题
            content: $('#doc'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            area: ['80%', '90%'],
            cancel: function () {
                $('#doc').css('display', 'none');
            }
        });
    }
    var FORM = '';
    layui.use(['form', 'upload'], function () {
        var upload = layui.upload;
        var form = layui.form;
        FORM = form;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            , url: '{:url("Upload/upload")}' //上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.status > 0) {
                    return layer.msg('上传失败');
                } else {
                    layer.msg('上传成功', {icon: 6, time: 1500});
                    $("input[name='icon']").val(res.msg);
                }
                //上传成功
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        form.on('submit(adddd)', function (data) {
            console.log(data.field);
            var id = $("#newsId").val();
            var content = ue.getContentTxt("content");
            $.post('{:url("newsAdd")}', {
                    data: data.field,
                    id: id,
                }, function (e) {
                    if (e == 200) {
                        layer.msg('操作成功');
                        location.reload();
                    } else {
                        layer.msg('操作失败');
                    }
                }
            )
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        })
    });
    $('.newsEdit').click(function () {
        var id = $(this).attr('news_id');
        var title = $(this).attr('data-title');
        var icon = $(this).attr('data-icon');
        var content = $(this).attr('data-content');
        var author = $(this).attr('data-author');
        var news_class_id = $(this).attr('data-news_class_id');
        var description = $(this).attr('data-description');
        $('#icon').val(icon);
        $("#newsId").val(id);
        $("#name").val(title);
        $("#author").val(author);
        $("#content").val(content);
        $("#description").val(description);
        $("#demo1").attr("src", icon);
        $.post('{:url("newsShow")}', {}, function (e) {
            console.log(e);
            var list = e;
            var len = e.length;
            var str = '';
            str += '<option value="0">请选择分类</option>';
            for (var i = 0; i < len; i++) {
                str += '<option value="' + list[i].id + '">' + list[i].news_name + '</option>';
            }
            $("#news_class_id").html(str);
            $("#news_class_id").val(news_class_id);
            FORM.render();
        });
        layer.open({
            type: 1,
            shade: false,
            maxmin: true,
            title: "新闻的编辑", //标题
            content: $('#doc'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            area: ['50%', '90%'],
            cancel: function () {
                $('#doc').css('display', 'none');
            }
        });
    });

    /**
     * 新闻的删除事件
     */
    function newsDelete(t) {
        var id = $(t).attr('id');
        layer.confirm('确定要删除！', {btn: ['确认', '取消']}, function () {
            $.post('{:url("newsDelete")}', {id: id}, function (e) {
                if (e == 200) {
                    layer.msg('操作成功');
                    location.reload();
                } else {
                    layer.msg('操作失败');
                }
            });
        });
    }
</script>